*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
.gameHeader{
    margin-top: 10px;
    font-size: x-large;
}
.container{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 58vmin;
    width: 58vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    height: 17vmin;
    width: 17vmin;
    background-color: #ffff;
    border-radius: 1rem;
    font-size: 18vmin;
    border: rgb(41, 44, 36) solid 3px;
}
.msgContainer{
    height: 25vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.gameTurn{
    height: 5vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: xx-large;
    color: red;
}
.turnO{
    display: none;
}
.turnX{
    display: none;
}
.countContainer{
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.countX{
    margin-left: 1rem;
}
.countO{
    margin-left: 1rem;
}
#reSet,#reset{
    background-color: #191913;
    font-size: 1.25rem;
    color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
#restart{
    background-color: #191913;
    font-size: 1.45rem;
    color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
#msgBox{
    color: #ffffc7;
    font-size: 5vmax;
}
.hide{
    display: none;
}